<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body data-search-index="{{ "index.json" | relURL }}"{{ with .Params.screenLabel }} data-screen-label="{{ . }}"{{ end }}>
  {{ partial "nav.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ with resources.Get "js/docs.js" }}
    {{ $js := . | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
</body>
</html>
